[defaults]
inventory = inventory/production.yml
private_key_file = ../secrets/deploy_key
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
